body {
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("images/teavadai.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
}

h1 {
    font-family: 'Architects Daughter';
    text-align: center;
    font-size: 100px;
    color: white;
}

h2 {
    font-family: 'Architects Daughter';
    text-align: center;
    font-size: 40px;
    color: white;
}

* {
    margin: 0px;
    padding: 0px;
}

.main {
    margin-top: 400px;
}

button {
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    padding: 10px;
    margin-left: 800px;
}

button:hover {
    background-color: rgb(41, 155, 37);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-family: "Alata";
    font-size: 30px;
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: rgb(41, 155, 37);
}

nav {
    position: sticky;
}
